* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  .nav {
    height: 20%;
    
  }
  .main {
    height: 70%;
    background-color: rgb(19, 19, 19);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .svgs {
      width: 33em;
      text-align: center;
      line-height: 30px;

      h2 {
        margin-bottom: 20px;
      }
    }
    svg {
      margin-top: 20px;
      padding: 5px;
      width: 50px;
      height: 50px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
 
    background-color: black;
    height: 10%;

    .footer-text {
      display: flex;
      color: white;
      margin: 20px;

      a {
        text-decoration: none;
        color: skyblue;
      }
    }
    .links {
      margin: 20px;
      word-spacing: 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}


@media screen and (max-width:700) {
    
      body {
        height: 100vh;
        width: 100vw;
        .nav {
          height: 20%;
          
        }
        .main {
          height: 70%;
          background-color: rgb(19, 19, 19);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      
          .svgs {
            width: 0;
            text-align: center;
            line-height: 30px;
      
            h2 {
              margin-bottom: 20px;
            }
          }
          svg {
            margin-top: 20px;
            padding: 5px;
            width: 50px;
            height: 50px;
          }
        }
      
        .footer {
          display: flex;
          justify-content: space-between;
          // margin: 20px;
          background-color: black;
          height: 10%;
      
          .footer-text {
            display: flex;
            color: white;
            margin: 20px;
      
            a {
              text-decoration: none;
              color: skyblue;
            }
          }
          .links {
            margin: 20px;
            word-spacing: 10px;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }      
}